<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Farm_Management.Properties.Settings.quanLyTrangTraiConnectionString" connectionString="Data Source=DESKTOP-L5SLI0J\SQLEXPRESS;Initial Catalog=quanLyTrangTrai;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
